<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>anti-url-shortener</title>
    <link
      rel="shortcut icon"
      href="https://cdn.discordapp.com/attachments/820472030474272769/887148064786231346/caption.gif"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>

  <body>
    <div align="center">
      <h1>put here to extract the url (https://bit.ly)</h1>
    </div>
    <div class="container p-4">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-body">
              <form name="myForm" action="/no-bitly" method="POST">
                <div class="form-group">
                  <input
                    type="text"
                    name="url"
                    id="url"
                    class="form-control"
                    placeholder="url"
                    autofocus
                    required
                  />
                </div>
                <!-- Button -->

                <button
                  class="btn btn-primary btn-block"
                  onclick="sendAndReceive()"
                >
                  extract the url!
                </button>
              </form>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  <div align="center" id="url-result" style="color:white"><p>{{.url}}</p></div>
 
    <div align="center">
      <img src="https://cdn.discordapp.com/attachments/820472030474272769/887148064786231346/caption.gif" />
      <footer>
        <a href="https://github.com/ELPanaJose/anti-url-shortener"
          >source code of the page</a
        >
      </footer>
    </div>
  </body>
</html>
